<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Emotify</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap-theme-cosmo/cosmo.min.css" />
    <link rel='stylesheet' type='text/css' href='/bootstrap-social/bootstrap-social.css' />
    <link rel='stylesheet' type='text/css' href='/font-awesome/css/font-awesome.min.css' />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
    <script src='/tracking.js/build/tracking-min.js'></script>
    <script src='/tracking.js/build/data/eye-min.js'></script>
    <script src='/tracking.js/build/data/face-min.js'></script>
    <script src='/tracking.js/build/data/mouth-min.js'></script>
    <script src='/file-saver-saveas-js/FileSaver.js'></script>
    <script src='/canvas-toBlob.js/canvas-toBlob.js'></script>
    <script src='/color-thief/dist/color-thief.min.js'></script>
</head>
<body ng-app="EmotifyApp" ng-controller="MainController">
    <div ui-view></div>
</body>
</html>
<!-- <script src="/angular-cookies/angular-cookies.js"></script> -->