<section id='landing'>
	<main class='container'>
		<section class='row margin-top'>
			<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
				<emotify></emotify>
			</div>
		</section>
		<section class='row margin-top'>
			<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center'>
				<div class='signin'>
					<button class='btn btn-block btn-primary' ng-click=''>User Profile</button>
					<br>
					<button class='btn btn-block btn-info' ng-click=''>Social</button>
					<br>
					<button class='btn btn-block btn-danger' ng-click='createEmoji()'>Create Emoji</button>
				</div>
			</div>
		</section>
	</main>
</section>