@for $i from 300px through 1500px {
	@media (max-height: ($i + px)) and (min-height: (($i - 0.5) + px)) {
		.auto-size {
			height: ($i) + px;
			width: 600px;
		}
	}
}

.auto-size {
	margin: 0px auto 0px auto;
	padding-top: 20px;
}